@import 'colors';

//mixins
.input-fields{
    padding: .3rem .55rem;
    margin: 4px 0;
}

//styles
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background: @Cdark;
    margin: 0;
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    
    input, button, select{
        padding: 4px 6px;
    }
}

header.nav-bar{
//    padding: 10px 10px; 
    display: flex;
    position: fixed;
    left: -80px;
    top: 0;
    box-sizing: border-box;
    width: 130px;
    height: 100%;
    background: #1b1b1b;
    color: #ddd8d8;
    z-index: 100;
    
    transition: left .2s ease-in;
    
    ul{
        margin: 0;
        padding: 0;
        flex: 1;
    }
    li{
        display: flex;
        list-style: none;
        padding: 10px;
        margin: 0;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        .icon{
            display: block;
            font-size: 1.5rem;
        } 
        
        .button-body{
            flex: 1;
            text-align: right;
            padding-right: 10px;
        }
    }
    
    li:hover{
        background: black;
    }
}

header.nav-bar:hover{
    left: 0;
    box-shadow: 3px 0 5px rgba(54, 54, 54, 0.76);
    transition: all .2s ease-in;
}

.content{
    padding-left: 50px;
    
    .question-header{  
        padding: 10px 20px; 
    }

    .question{
        border-top: solid 1px gray;
        border-bottom: solid 1px gray;
        margin: 10px 0;
        background: white;
        display: flex;

        .question-content{
            flex: 1;
            padding: 10px 20px;
        }

        .question-header{
            border-bottom: solid 1px lightgray;
            margin-bottom: 20px;
        }

        .icon{
            cursor: pointer;
            opacity: 0.6;  
        }
        .icon:hover{
            opacity: 1.0;
        }

        .button-bar{
            flex: 0 0 2rem;
            order: -1;
            background: gray;
            .icon{
                font-size: 1.1rem;
                color: white;
            }
        }

        input[type="text"]{ 
            box-sizing: border-box;
            width: 100%;
            .input-fields();
        }
        h2, .header-input{
            font-size: 1.1rem;
        }

        h1,h2,h3,h4,h5,h6{
            margin: 0.4rem 0;
        }

    }
    
    .isEditing{
        border-top: dashed 2px gray;
        border-bottom: dashed 2px gray;
        .answer{
            display: flex;
            input[type="radio"], input[type="checkbox"]{
                margin-top: 0.8rem ;
            }
            input[type="text"]{
                flex: 1;
    //            .input-fields();
            }

            .icon{
                border: solid 1px gray;
                height: 100%;
                background: red;
                .input-fields();
                padding: 0;
            }
        }
    }
}



.question-enter {
    max-height: 0;
    transition: max-height .5s ease-in;
}

.question-enter.question-enter-active {
    max-height: 1000px; 
}

.question-leave {
    max-height: 1000px;
    transition: max-height .5s ease-out;
}

.question-leave.question-leave-active {
    max-height: 0;
    overflow: hidden;
}

