@import 'colors';

.input-fields{
    padding: .3rem .55rem;
    margin: 4px 0;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background: @Cdark;
    margin: 0;
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    
    input, button, select{
        padding: 4px 6px;
    }
}

header{
   padding: 10px 20px; 
}

.question{
//    position: relative;
//    padding: 10px 20px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin: 10px 0;
    background: white;
    display: flex;
    
    .question-content{
        flex: 1;
        padding: 10px 20px;
    }
    
    .question-header{
        border-bottom: solid 1px lightgray;
        margin-bottom: 20px;
    }
    
    .icon{
        cursor: pointer;
        opacity: 0.6;  
    }
    .icon:hover{
        opacity: 1.0;
    }
    
    .button-bar{
        flex: 0 0 2rem;
        order: -1;
        background: gray;
//        position:absolute;
//        top: 10px;
//        right: 10px;
        .icon{
            font-size: 1.1rem;
            color: white;
        }
    }

    input[type="text"]{ 
        box-sizing: border-box;
        width: 100%;
        .input-fields();
    }
    h2, .header-input{
        font-size: 1.1rem;
    }
    
    h1,h2,h3,h4,h5,h6{
        margin: 0.4rem 0;
    }
    
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.isEditing{
    border-top: dashed 2px gray;
    border-bottom: dashed 2px gray;
    .answer{
        display: flex;
        input[type="radio"], input[type="checkbox"]{
            margin-top: 0.8rem ;
        }
        input[type="text"]{
            flex: 1;
//            .input-fields();
        }
        
        .icon{
            border: solid 1px gray;
            height: 100%;
            background: red;
            .input-fields();
            padding: 0;
        }
    }
}