@import 'colors';
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background: @Cdark;
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    
    input, button, select{
        padding: 4px 6px;
    }
}

.question{
    padding: 10px;
    border: solid 1px gray;
    margin: 10px 0;
    background: white;
    
    input[type="text"]{ 
        box-sizing: border-box;
        width: 100%;
        margin: 4px 0;
    }
    
    button{
        margin: 0;
    }
}

.isEditing{
    border: dashed 3px gray;
}